body, .stApp {
    background-color: #0F1020;
    font-family: 'Segoe UI', sans-serif !important;
    color: #ffffff; 
}

input::placeholder,
textarea::placeholder {
    color: #bbb !important;
    opacity: 1 !important;
}

label, .css-1v3fvcr, .css-1kyxreq {
    color: #646464 !important;
    font-weight: 600;
    font-size: 0.95rem !important;
}

/* forçar cor do texto do label dentro do checkbox */
div[data-testid="stCheckbox"] label > div {
    color: #ffffff70 !important;
    font-weight: 600 !important;
    font-size: 0.95rem !important;
}

body, .stApp, h1, h2, h3, p, div, span, input, textarea, button, a, table, th, td {
    font-family: 'Segoe UI', sans-serif !important;
}

/* tirar cabeçalho padrão do streamlit */
header.stAppHeader {
    display: none !important;
}

button[kind="pillsActivate"] {
    background-color: #2BB17A !important;
    color: #0F1020 !important;
    border-radius: 20px !important;
    border: 1px solid #2BB17A !important;
    padding: 5px 10px !important;
    font-weight: 600 !important;
    cursor: pointer !important;
    transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3 {
    color: #2BB17A;
    font-weight: bold;
}

input, textarea {
    background-color: #1a1a2e !important;
    color: white !important;
    border-radius: 10px !important;
    border: 1px solid #2BB17A !important;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #3de79f !important;
    outline: none !important;
    box-shadow: 0 0 8px #3de79f !important;
}

.stAlert {
    border-left: 5px solid #ffb700 !important;
    background-color: #333 !important;
    color: white !important;
}

table {
    background-color: #1a1a2e;
    color: white;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #2BB17A;
    padding: 8px;
}

a {
    color: #2BB17A;
    text-decoration: none;
}

a:hover {
    color: #21a36b;
    text-decoration: underline;
}

.custom-popup {
    background-color: #1a1a2e; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    border: 2px solid #2bb179;
    margin-top: 20px;
    animation: fadeIn 0.3s ease-in-out;
    color: #ffffff; 
}

.custom-popup h3 {
    margin-top: 0;
    color: #2bb179; /* Verde */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
