# Arquivos de ambiente - O MAIS IMPORTANTE!
# Esconde o arquivo .env que contém as chaves secretas.
.env

# Ambientes virtuais
venv/
.venv/
env/

# Arquivos compilados e de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de log e de cobertura de testes
*.log
.coverage

# Arquivos de configuração de editores de código
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Arquivos de sistema operacional (macOS)
.DS_Store
