pandas==2.2.3
plotly==6.0.1
Requests==2.32.3
streamlit==1.45.1
ipeadatapy==0.1.9
supabase==2.15.2
together==1.5.8
matplotlib==3.10.3
xhtml2pdf==0.2.17
markdown==3.8
reportlab==4.4.1
pytest==8.4.1
pytest-cov==6.2.1
pytest-mock==3.14.1
feedparser==6.0.11


